<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reservar Livro</title>
    <link rel="stylesheet" href="style.css">
        <link rel="icon" href="Ícone.png">
</head>
<body>

<div class="container">
    <h2>Reservar Livro</h2>

    <form id="formReserva">
        <label>ID do Livro</label>
        <input type="number" id="livroId" required>

        <label>ID do Leitor</label>
        <input type="number" id="leitorId" required>

        <button type="submit">Reservar</button>
    </form>
</div>

<script src="reserva.js"></script>
</body>
</html>